@charset "UTF-8";
@import "assets/common/sass/base/globalfun";

table {
  width: 100%;
  th, td, caption {
    padding: 8px;
    vertical-align: top;
  }
}

//*******************边框表格*******************//
%table-bordered-acc {
  th, td, caption {
    border: 1px solid #ddd;
  }
  caption {
    border-bottom: none;
  }
}

//*******************双行薄表格*******************//
%table-unbordered-acc {
  th, td, caption {
    border-bottom: 1px solid #ddd;
  }
}

//*******************鼠标悬停*******************//
%table-hover-acc {
  tbody tr:hover, tfoot tr:hover {
    td {
      background: #eee;
    }
  }
}

//*******************紧凑单元格*******************//
.td-condensed {
  padding: 0 !important;
}

//*******************无边框单元格*******************//
.td-border-none {
  border: none !important;
}

/****设计具体的表格****/
.table--border {
  @extend %table-bordered-acc;
  @extend %table-hover-acc;
  td, th {
    padding: 2px;
  }
  th {
    font-weight: normal;
    background: #efefef;
    border-color: #000;
  }
  tbody tr:hover, tfoot tr:hover {
    td {
      color: #fff;
      background: #3399ff;
    }
  }
}

.table--accounting {
  @extend %table-bordered-acc;
  th {
    text-align: center;
    font-weight: normal;;
  }
  tbody {
    background: #fff;
    .td-condensed {
      &:hover {
        background: #3399ff;
      }
      table {
        float: right;
        width: auto;
        border: 0 !important;
        tbody {
          background: none;
        }
        td {
          text-align: center;
          padding: 0 !important;
          height: 25px;
          vertical-align: middle;
          border: none !important;
          border-left: 1px solid #ddd !important;
        }
        .green-h {
          border-left: 1px solid #008040 !important;
        }
        .red-h {
          border-left: 1px solid #f00 !important;
        }
      }
    }
  }
  tfoot{
    .td-condensed {
      .footer-des {
        float: none;
        td {
          padding: 8px !important;
          border: none !important;
          border-left: 1px solid #ddd !important;
        }
      }
      tbody {
        background: none;
      }
      &:hover {
        background:none;
      }
    }
  }

}