@charset "UTF-8";
@import "assets/common/sass/base/globalfun";

$tabImgUrl: "/assets/common/img/tab/";
$borderColor: #a0a0a0;

%tab-sprite{
  background-image: url($tabImgUrl +"tab-sprite.png");
  background-repeat: no-repeat;
}

.tab{
  position: relative;
  margin-bottom: -1px;
}
.tab__pills{
  height: 17px;
  margin-left: 17px;
  i{
    vertical-align: middle;
  }
  li{
    @extend %inline-block;
    position: relative;
    margin-left: -17px;
    a{
      @extend %inline-block;
      float: left;
      padding: 0 5px;
      height: 16px;
      line-height: 16px;
      border-top: 1px solid $borderColor;
      background: url($tabImgUrl +"tab-a-normal.jpg") repeat-x;
    }
    &.active{
      z-index: $domIndex +1;
      a{
        background: #f1f1f1;
      }
      .tab__pills__title--l{
        background-position: 0 0;
      }
      .tab__pills__title--r{
        background-position: -5px 0;
      }
    }
  }

}

.tab__pills__title--l,.tab__pills__title--r{
  @extend %inline-block;
  @extend %tab-sprite;
  float: left;
  height: 17px;
}

.tab__pills__title--l{
  width: 5px;
  background-position: -24px 0;
}
.tab__pills__title--r{
  width: 17px;
  background-position: -29px 0;
}

.wrap__container{
  position: relative;
  z-index: $domIndex -1;
  top: -1px;
  padding: 15px;
  border: 1px solid $borderColor;
}
.insert__body{
  overflow: auto;
  min-height: 370px;
  height: 370px;
  border: 1px solid $borderColor;
  background: #fff;
}