@charset "UTF-8";
@import "assets/common/sass/modules/module-dialog";

$sideMenuImgUrl: "/assets/common/img/side-menu/";

.side-menu{
  padding-left: 2px;
  padding-bottom: 50px;
}
.side-menu__list{
  padding-left: 20px;
}
.side-menu__list a{
  display: block;
  margin: 5px 0;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  i{
    vertical-align: middle;
  }
  &:hover{
    color: #0066bb;
  }
}
