@charset "UTF-8";
.icon, .icon-empty, label, .acc-form-inline .submit-inline, .acc-form-inline .acc-form-group, .acc-btn--search--top i, .select-div, .select-div .selected-title .select-txt, .link-block, .rec-text--red {
  zoom: 1;
  display: inline-block;
  *display: inline;
}

.select-div .selected-title .select-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-line {
  display: block;
  height: 1px;
  font-size: 0px;
}

.acc-btn--search--top, .link-block {
  border: 1px solid transparent;
}
.acc-btn--search--top:hover, .link-block:hover {
  border: 1px solid #2d96ff;
  background: #e7f3ff;
}

/*reset*/
html {
  background-image: url(about:blank);
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

em, strong, i {
  font-style: normal;
}

ol, ul, li {
  list-style: none;
}

caption, th {
  text-align: left;
}

input, button, textarea, select, optgroup, option {
  font-family: arial;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

select, input, label, button, button img, img {
  vertical-align: middle;
}

input, button, textarea, img {
  line-height: normal;
}

.clearfix {
  clear: both;
  zoom: 1;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

a {
  star: expression(this.onFocus=this.blur());
  /* for Ie*/
}
a:focus {
  outline: none;
  -moz-outline: none;
}

.icon, .icon-empty, label, .acc-form-inline .submit-inline, .acc-form-inline .acc-form-group, .acc-btn--search--top i, .select-div, .select-div .selected-title .select-txt, .link-block, .rec-text--red {
  zoom: 1;
  display: inline-block;
  *display: inline;
}

.select-div .selected-title .select-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-line {
  display: block;
  height: 1px;
  font-size: 0px;
}

.acc-btn--search--top, .link-block {
  border: 1px solid transparent;
}
.acc-btn--search--top:hover, .link-block:hover {
  border: 1px solid #2d96ff;
  background: #e7f3ff;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  outline: none;
  -moz-outline: none;
}

body {
  font-family: "宋体", "Microsoft Yahei", \5b8b\4f53, arial, sans-serif;
  font-size: 12px;
}

/*默认链接*/
a {
  color: #000;
  star: expression(this.onFocus=this.blur());
  /* for Ie*/
}
a img {
  border: 0;
}

button {
  cursor: pointer;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.fl {
  display: inline;
  float: left;
}

.fr {
  display: inline;
  float: right;
}

.icon, .icon-empty, label, .acc-form-inline .submit-inline, .acc-form-inline .acc-form-group, .acc-btn--search--top i, .select-div, .select-div .selected-title .select-txt, .link-block, .rec-text--red {
  zoom: 1;
  display: inline-block;
  *display: inline;
}

.select-div .selected-title .select-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-line {
  display: block;
  height: 1px;
  font-size: 0px;
}

.acc-btn--search--top, .link-block {
  border: 1px solid transparent;
}
.acc-btn--search--top:hover, .link-block:hover {
  border: 1px solid #2d96ff;
  background: #e7f3ff;
}

.wrap-border {
  border: 1px solid #1e1d18;
}

.acc-dialog {
  padding: 0 5px 5px;
  border: 1px solid #f6f6f6;
  background: #ddd6c4;
}

.acc-dialog__header {
  position: relative;
  height: 25px;
  line-height: 25px;
}
.acc-dialog__header .dialog-btn-close {
  position: absolute;
  top: 0;
  right: 0;
}

.acc-dialog__header__title {
  font-size: 12px;
}
.acc-dialog__header__title i {
  vertical-align: middle;
}

.acc-dialog__body {
  position: relative;
  border: 1px solid #5d594e;
  background: #fff;
}

.acc-dialog__footer {
  padding: 10px;
  background: #c0c0c0;
}
.acc-dialog__footer i {
  vertical-align: middle;
}

.icon, .icon-empty, label, .acc-form-inline .submit-inline, .acc-form-inline .acc-form-group, .acc-btn--search--top i, .select-div, .select-div .selected-title .select-txt, .link-block, .rec-text--red {
  zoom: 1;
  display: inline-block;
  *display: inline;
}

.select-div .selected-title .select-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-line {
  display: block;
  height: 1px;
  font-size: 0px;
}

.acc-btn--search--top, .link-block {
  border: 1px solid transparent;
}
.acc-btn--search--top:hover, .link-block:hover {
  border: 1px solid #2d96ff;
  background: #e7f3ff;
}

.icon {
  background-image: url("/assets/common/img/icon/icon-sprite.png");
  background-repeat: no-repeat;
}

.icon-empty {
  background: none;
}

/*icon 尺寸
每个"icon-xs" icon尺寸为17x17，间隙为10px
*/
.icon-xxs {
  overflow: hidden;
  width: 10px;
  height: 10px;
}

.icon-xs {
  overflow: hidden;
  width: 17px;
  height: 17px;
}

.icon-sm {
  overflow: hidden;
  width: 32px;
  height: 32px;
}

.icon-md {
  overflow: hidden;
  width: 57px;
  height: 57px;
}

/*结束 icon 尺寸*/
/*icon-xxs 图标*/
.icon--circleBlue {
  background-position: -224px -20px;
}

.icon--select--arrow {
  background-position: -224px -30px;
}

.icon--select--up {
  background-position: -224px -40px;
}

.icon--select--down {
  background-position: -224px -50px;
}

.icon--add--xxs {
  background-position: -224px -70px;
}

.icon--minu--xxs {
  background-position: -224px -80px;
}

.icon--edit--xxs {
  background-position: -224px -90px;
}

/*icon-xs 图标*/
.icon--modify {
  background-position: 0 0;
}

.icon--add {
  background-position: -27px 0;
}

.icon--remove {
  background-position: -54px 0;
}

.icon--refresh {
  background-position: -81px 0;
}

.icon--exit {
  background-position: -108px 0;
}

.icon--data {
  background-position: -135px 0;
}

.icon--right {
  background-position: -162px 0;
}

.icon--pre {
  background-position: -179px 0;
}

.icon--next {
  background-position: -196px 0;
}

.icon--recheck {
  background-position: -213px 0;
}

.icon--cashier {
  background-position: -106px -20px;
}

.icon--reCheckList {
  background-position: -123px -20px;
}

.icon--cancelCheckList {
  background-position: -140px -20px;
}

.icon--light {
  background-position: -157px -20px;
}

.icon--infoCompany {
  background-position: -174px -20px;
}

.icon--adddata {
  background-position: -190px -20px;
}

.icon--hisdata {
  background-position: -207px -20px;
}

.icon--cancelCheckList--dis {
  background-position: -140px -215px;
}

.icon--allCancel {
  background-position: 0 -215px;
}

.icon--small-up {
  background-position: -17px -215px;
}

.icon--small-down {
  background-position: -34px -215px;
}

.icon--yuan {
  background-position: -51px -215px;
}

.icon--cut {
  background-position: -68px -215px;
}

.icon--pound {
  background-position: -85px -215px;
}

.icon--test {
  background-position: -102px -215px;
}

.icon--computer {
  background-position: -119px -215px;
}

.icon--minus--xs {
  background-position: -157px -215px;
}

/*icon-sm 图标*/
.icon--paper {
  background-position: 0 -42px;
}

.icon--excel {
  background-position: -37px -42px;
}

.icon--userLevel {
  background-position: -74px -42px;
}

.icon--rubber {
  background-position: -111px -42px;
}

.icon--userGroup {
  background-position: -192px -8px;
}

.icon--userInfo {
  background-position: -112px -110px;
}

.icon--fileGroup {
  background-position: -0 -78px;
}

.icon--worldFile {
  background-position: -37px -78px;
}

.icon--compareUser {
  background-position: -74px -78px;
}

.icon--arrowDown {
  background-position: -107px -78px;
}

.icon--arrowRight {
  background-position: -160px -8px;
}

.icon--listZ {
  background-position: -128px -8px;
}

.icon--excelToLi {
  background-position: 0 -110px;
}

.icon--paperToLi {
  background-position: -32px -110px;
}

/*icon-md*/
.icon--key {
  background-position: -167px -40px;
}

.icon--starbar {
  background-position: -167px -97px;
}

/* dialog 关闭安按钮*/
.dialog-btn-close {
  width: 48px;
  height: 18px;
  background-position: 0 -20px;
  cursor: pointer;
}
.dialog-btn-close:hover {
  background-position: -48px -20px;
}

/*特别的icon*/
.icon--file--tree {
  overflow: hidden;
  width: 26px;
  height: 16px;
  background-position: 0 -199px;
}

.icon, .icon-empty, label, .acc-form-inline .submit-inline, .acc-form-inline .acc-form-group, .acc-btn--search--top i, .select-div, .select-div .selected-title .select-txt, .link-block, .rec-text--red {
  zoom: 1;
  display: inline-block;
  *display: inline;
}

.select-div .selected-title .select-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-line {
  display: block;
  height: 1px;
  font-size: 0px;
}

.acc-btn--search--top, .link-block {
  border: 1px solid transparent;
}
.acc-btn--search--top:hover, .link-block:hover {
  border: 1px solid #2d96ff;
  background: #e7f3ff;
}

.acc-btn--search--top i {
  background-image: url("/assets/common/img/form/form-sprite.png");
  background-repeat: no-repeat;
}

.acc-form-horizontal label, .acc-form-inline .acc-form-group label {
  float: left;
  padding: 5px 5px 0;
  text-align: right;
  width: 80px;
}
.acc-form-horizontal .msg-error, .acc-form-inline .acc-form-group .msg-error, .acc-form-horizontal .submit-horizontal, .acc-form-inline .acc-form-group .submit-horizontal {
  margin-left: 100px;
}

label {
  margin-bottom: 5px;
}

.acc-form-group {
  margin-bottom: 10px;
}

.acc-form-control {
  display: block;
  margin: 0;
  padding: 3px;
  border: 1px solid #D9D9D9;
}

/*******************水平排列的表单*******************/
/*******************内联的表单*******************/
.acc-form-inline label {
  *line-height: 1.2em;
}
.acc-form-inline .submit-inline {
  margin-left: 10px;
}
.acc-form-inline .acc-form-group {
  margin-bottom: 0;
  vertical-align: top;
}

/*******************xxxxxxxxxxxx*******************/
.acc-btn--search--top {
  height: 22px;
  background: none;
}
.acc-btn--search--top i {
  width: 17px;
  height: 17px;
  background-position: 0 3px;
}

/*自写义select*/
.select-div {
  position: relative;
  width: 138px;
}
.select-div .selected-title {
  position: relative;
  margin-top: 1px;
  padding: 0 3px;
  height: 20px;
  border: 1px solid #D9D9D9;
  background: #fff;
}
.select-div .selected-title .select-txt {
  margin-top: 0;
  width: 100%;
  border: none;
}
.select-div .selected-title .select-arrow {
  position: absolute;
  padding: 0 5px;
  margin: 1px;
  top: 0;
  right: 0;
  background: #f0f0f0;
  cursor: pointer;
}
.select-div .select-con {
  position: absolute;
  width: 100%;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  background: #fff;
  z-index: 1;
}
.select-div .select-con .select-li {
  padding: 3px 0;
}
.select-div .select-con .select-li li {
  height: 14px;
  line-height: 1em;
  padding-left: 10px;
  cursor: pointer;
}
.select-div .select-con .select-li li:hover {
  color: #fff;
  background: #3399ff;
}

.wrap-height {
  position: relative;
  z-index: 99;
  height: 500px;
}

.side-left {
  float: left;
  width: 160px;
}

.side-right {
  float: right;
  width: 160px;
  padding-bottom: 20px;
}

.mid-wrap {
  overflow: hidden;
  padding-bottom: 20px;
}

.v-line {
  height: 2px;
  background: url("/assets/common/img/menu/v-line-bg.jpg") repeat-x;
}

.footer-content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  border-top: 1px solid #ccc;
  background: #f2f2f2;
}
.footer-content span {
  float: left;
  height: 20px;
  padding: 0 10px;
  border-right: 1px solid #ccc;
}

.content-title--short {
  padding-left: 15px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  background: url("/assets/common/img/side-menu/content-title--short.jpg") no-repeat 0 bottom;
}

.content-title--long {
  padding-left: 15px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  background: url("/assets/common/img/side-menu/content-title--long.jpg") no-repeat 0 bottom;
}

.link-block {
  margin: 10px 0;
  padding: 5px 15px;
  text-align: center;
  font-size: 14px;
  border: 1px solid transparent;
}
.link-block i {
  display: block;
  margin: 0 auto 10px;
}

.dashed {
  border: 1px dashed #0066bb;
}

.rec-text--red {
  border: 1px solid #f00;
  color: #f00;
}

.list-wrap {
  overflow: auto;
  border: 1px solid #a0a0a0;
  background: #fff;
}
