@charset "UTF-8";
.icon--modify, .icon--modify--dis, .icon--add, .icon--add--dis, .icon--remove, .icon--remove--dis, .icon--refresh, .icon--refresh--dis, .icon--exit, .icon--exit--dis, .icon--data, .icon--data--dis, .icon--right, .icon--right--dis, .icon--pre, .icon--pre--dis, .icon--next, .icon--next--dis, .icon--recheck, .icon--recheck--dis, .icon--cashier, .icon--cashier--dis, .icon--reCheckList, .icon--reCheckList--dis, .icon--cancelCheckList, .icon--cancelCheckList--dis, .icon--light, .icon--light--dis, .icon--infoCompany, .icon--infoCompany--dis, .icon--adddata, .icon--adddata--dis, .icon--hisdata, .icon--hisdata--dis, .icon--allCancel, .icon--allCancel--dis, .icon--small-up, .icon--small-up--dis, .icon--small-down, .icon--small-down--dis, .icon--yuan, .icon--yuan--dis, .icon--cut, .icon--cut--dis, .icon--pound, .icon--pound--dis, .icon--test, .icon--test--dis, .icon--computer, .icon--computer--dis, .icon--minus--xs, .icon--minus--xs--dis, .disabled .icon--modify, .disabled .icon--add, .disabled .icon--remove, .disabled .icon--refresh, .disabled .icon--exit, .disabled .icon--data, .disabled .icon--right, .disabled .icon--pre, .disabled .icon--next, .disabled .icon--recheck, .disabled .icon--cashier, .disabled .icon--reCheckList, .disabled .icon--cancelCheckList, .disabled .icon--light, .disabled .icon--infoCompany, .disabled .icon--adddata, .disabled .icon--hisdata, .disabled .icon--allCancel, .disabled .icon--small-up, .disabled .icon--small-down, .disabled .icon--yuan, .disabled .icon--cut, .disabled .icon--pound, .disabled .icon--test, .disabled .icon--computer, .disabled .icon--minus--xs, label, .acc-form-inline .submit-inline, .acc-form-inline .acc-form-group, .acc-btn--search--top i, .select-div, .select-div .selected-title .select-txt, .link-block, .rec-text--red {
  zoom: 1;
  display: inline-block;
  *display: inline;
}

.select-div .selected-title .select-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-line {
  display: block;
  height: 1px;
  font-size: 0px;
}

.acc-btn--search--top, .link-block {
  border: 1px solid transparent;
}
.acc-btn--search--top:hover, .link-block:hover {
  border: 1px solid #2d96ff;
  background: #e7f3ff;
}

/*reset*/
html {
  background-image: url(about:blank);
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

em, strong, i {
  font-style: normal;
}

ol, ul, li {
  list-style: none;
}

caption, th {
  text-align: left;
}

input, button, textarea, select, optgroup, option {
  font-family: arial;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

select, input, label, button, button img, img {
  vertical-align: middle;
}

input, button, textarea, img {
  line-height: normal;
}

.clearfix {
  clear: both;
  zoom: 1;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

a {
  star: expression(this.onFocus=this.blur());
  /* for Ie*/
}
a:focus {
  outline: none;
  -moz-outline: none;
}

.icon--modify, .icon--modify--dis, .icon--add, .icon--add--dis, .icon--remove, .icon--remove--dis, .icon--refresh, .icon--refresh--dis, .icon--exit, .icon--exit--dis, .icon--data, .icon--data--dis, .icon--right, .icon--right--dis, .icon--pre, .icon--pre--dis, .icon--next, .icon--next--dis, .icon--recheck, .icon--recheck--dis, .icon--cashier, .icon--cashier--dis, .icon--reCheckList, .icon--reCheckList--dis, .icon--cancelCheckList, .icon--cancelCheckList--dis, .icon--light, .icon--light--dis, .icon--infoCompany, .icon--infoCompany--dis, .icon--adddata, .icon--adddata--dis, .icon--hisdata, .icon--hisdata--dis, .icon--allCancel, .icon--allCancel--dis, .icon--small-up, .icon--small-up--dis, .icon--small-down, .icon--small-down--dis, .icon--yuan, .icon--yuan--dis, .icon--cut, .icon--cut--dis, .icon--pound, .icon--pound--dis, .icon--test, .icon--test--dis, .icon--computer, .icon--computer--dis, .icon--minus--xs, .icon--minus--xs--dis, .disabled .icon--modify, .disabled .icon--add, .disabled .icon--remove, .disabled .icon--refresh, .disabled .icon--exit, .disabled .icon--data, .disabled .icon--right, .disabled .icon--pre, .disabled .icon--next, .disabled .icon--recheck, .disabled .icon--cashier, .disabled .icon--reCheckList, .disabled .icon--cancelCheckList, .disabled .icon--light, .disabled .icon--infoCompany, .disabled .icon--adddata, .disabled .icon--hisdata, .disabled .icon--allCancel, .disabled .icon--small-up, .disabled .icon--small-down, .disabled .icon--yuan, .disabled .icon--cut, .disabled .icon--pound, .disabled .icon--test, .disabled .icon--computer, .disabled .icon--minus--xs, label, .acc-form-inline .submit-inline, .acc-form-inline .acc-form-group, .acc-btn--search--top i, .select-div, .select-div .selected-title .select-txt, .link-block, .rec-text--red {
  zoom: 1;
  display: inline-block;
  *display: inline;
}

.select-div .selected-title .select-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-line {
  display: block;
  height: 1px;
  font-size: 0px;
}

.acc-btn--search--top, .link-block {
  border: 1px solid transparent;
}
.acc-btn--search--top:hover, .link-block:hover {
  border: 1px solid #2d96ff;
  background: #e7f3ff;
}

a, a:hover, a:active, a:focus {
  text-decoration: none;
  outline: none;
  -moz-outline: none;
}

body {
  font-family: "宋体", "Microsoft Yahei", \5b8b\4f53, arial, sans-serif;
  font-size: 12px;
}

/*默认链接*/
a {
  color: #000;
  star: expression(this.onFocus=this.blur());
  /* for Ie*/
}
a img {
  border: 0;
}

button {
  cursor: pointer;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.fl {
  display: inline;
  float: left;
}

.fr {
  display: inline;
  float: right;
}

.icon--modify, .icon--modify--dis, .icon--add, .icon--add--dis, .icon--remove, .icon--remove--dis, .icon--refresh, .icon--refresh--dis, .icon--exit, .icon--exit--dis, .icon--data, .icon--data--dis, .icon--right, .icon--right--dis, .icon--pre, .icon--pre--dis, .icon--next, .icon--next--dis, .icon--recheck, .icon--recheck--dis, .icon--cashier, .icon--cashier--dis, .icon--reCheckList, .icon--reCheckList--dis, .icon--cancelCheckList, .icon--cancelCheckList--dis, .icon--light, .icon--light--dis, .icon--infoCompany, .icon--infoCompany--dis, .icon--adddata, .icon--adddata--dis, .icon--hisdata, .icon--hisdata--dis, .icon--allCancel, .icon--allCancel--dis, .icon--small-up, .icon--small-up--dis, .icon--small-down, .icon--small-down--dis, .icon--yuan, .icon--yuan--dis, .icon--cut, .icon--cut--dis, .icon--pound, .icon--pound--dis, .icon--test, .icon--test--dis, .icon--computer, .icon--computer--dis, .icon--minus--xs, .icon--minus--xs--dis, .disabled .icon--modify, .disabled .icon--add, .disabled .icon--remove, .disabled .icon--refresh, .disabled .icon--exit, .disabled .icon--data, .disabled .icon--right, .disabled .icon--pre, .disabled .icon--next, .disabled .icon--recheck, .disabled .icon--cashier, .disabled .icon--reCheckList, .disabled .icon--cancelCheckList, .disabled .icon--light, .disabled .icon--infoCompany, .disabled .icon--adddata, .disabled .icon--hisdata, .disabled .icon--allCancel, .disabled .icon--small-up, .disabled .icon--small-down, .disabled .icon--yuan, .disabled .icon--cut, .disabled .icon--pound, .disabled .icon--test, .disabled .icon--computer, .disabled .icon--minus--xs, label, .acc-form-inline .submit-inline, .acc-form-inline .acc-form-group, .acc-btn--search--top i, .select-div, .select-div .selected-title .select-txt, .link-block, .rec-text--red {
  zoom: 1;
  display: inline-block;
  *display: inline;
}

.select-div .selected-title .select-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-line {
  display: block;
  height: 1px;
  font-size: 0px;
}

.acc-btn--search--top, .link-block {
  border: 1px solid transparent;
}
.acc-btn--search--top:hover, .link-block:hover {
  border: 1px solid #2d96ff;
  background: #e7f3ff;
}

.wrap-border {
  border: 1px solid #1e1d18;
}

.acc-dialog {
  padding: 0 5px 5px;
  border: 1px solid #f6f6f6;
  background: #ddd6c4;
}

.acc-dialog__header {
  position: relative;
  height: 25px;
  line-height: 25px;
}
.acc-dialog__header .dialog-btn-close {
  position: absolute;
  top: 0;
  right: 0;
}

.acc-dialog__header__title {
  font-size: 12px;
}
.acc-dialog__header__title i {
  vertical-align: middle;
}

.acc-dialog__body {
  position: relative;
  border: 1px solid #5d594e;
  background: #fff;
}

.acc-dialog__footer {
  padding: 10px;
  background: #c0c0c0;
}
.acc-dialog__footer i {
  vertical-align: middle;
}

.icon--modify, .icon--modify--dis, .icon--add, .icon--add--dis, .icon--remove, .icon--remove--dis, .icon--refresh, .icon--refresh--dis, .icon--exit, .icon--exit--dis, .icon--data, .icon--data--dis, .icon--right, .icon--right--dis, .icon--pre, .icon--pre--dis, .icon--next, .icon--next--dis, .icon--recheck, .icon--recheck--dis, .icon--cashier, .icon--cashier--dis, .icon--reCheckList, .icon--reCheckList--dis, .icon--cancelCheckList, .icon--cancelCheckList--dis, .icon--light, .icon--light--dis, .icon--infoCompany, .icon--infoCompany--dis, .icon--adddata, .icon--adddata--dis, .icon--hisdata, .icon--hisdata--dis, .icon--allCancel, .icon--allCancel--dis, .icon--small-up, .icon--small-up--dis, .icon--small-down, .icon--small-down--dis, .icon--yuan, .icon--yuan--dis, .icon--cut, .icon--cut--dis, .icon--pound, .icon--pound--dis, .icon--test, .icon--test--dis, .icon--computer, .icon--computer--dis, .icon--minus--xs, .icon--minus--xs--dis, .disabled .icon--modify, .disabled .icon--add, .disabled .icon--remove, .disabled .icon--refresh, .disabled .icon--exit, .disabled .icon--data, .disabled .icon--right, .disabled .icon--pre, .disabled .icon--next, .disabled .icon--recheck, .disabled .icon--cashier, .disabled .icon--reCheckList, .disabled .icon--cancelCheckList, .disabled .icon--light, .disabled .icon--infoCompany, .disabled .icon--adddata, .disabled .icon--hisdata, .disabled .icon--allCancel, .disabled .icon--small-up, .disabled .icon--small-down, .disabled .icon--yuan, .disabled .icon--cut, .disabled .icon--pound, .disabled .icon--test, .disabled .icon--computer, .disabled .icon--minus--xs, label, .acc-form-inline .submit-inline, .acc-form-inline .acc-form-group, .acc-btn--search--top i, .select-div, .select-div .selected-title .select-txt, .link-block, .rec-text--red {
  zoom: 1;
  display: inline-block;
  *display: inline;
}

.select-div .selected-title .select-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-line {
  display: block;
  height: 1px;
  font-size: 0px;
}

.acc-btn--search--top, .link-block {
  border: 1px solid transparent;
}
.acc-btn--search--top:hover, .link-block:hover {
  border: 1px solid #2d96ff;
  background: #e7f3ff;
}

/*icon 尺寸
每个"icon-xs" icon尺寸为17x17，间隙为10px
*/
.icon-xs {
  overflow: hidden;
  width: 17px;
  height: 17px;
}

/*结束 icon 尺寸*/
/*icon-xxs 图标*/
/*icon-xs 图标*/
/**/
.icon--modify {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: 0px 0;
}

.icon--modify--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: 0px -17px;
}

.icon--add {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -17px 0;
}

.icon--add--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -17px -17px;
}

.icon--remove {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -34px 0;
}

.icon--remove--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -34px -17px;
}

.icon--refresh {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -51px 0;
}

.icon--refresh--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -51px -17px;
}

.icon--exit {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -68px 0;
}

.icon--exit--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -68px -17px;
}

.icon--data {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -85px 0;
}

.icon--data--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -85px -17px;
}

.icon--right {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -102px 0;
}

.icon--right--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -102px -17px;
}

.icon--pre {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -119px 0;
}

.icon--pre--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -119px -17px;
}

.icon--next {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -136px 0;
}

.icon--next--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -136px -17px;
}

.icon--recheck {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -153px 0;
}

.icon--recheck--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -153px -17px;
}

.icon--cashier {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -170px 0;
}

.icon--cashier--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -170px -17px;
}

.icon--reCheckList {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -187px 0;
}

.icon--reCheckList--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -187px -17px;
}

.icon--cancelCheckList {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -204px 0;
}

.icon--cancelCheckList--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -204px -17px;
}

.icon--light {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -221px 0;
}

.icon--light--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -221px -17px;
}

.icon--infoCompany {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -238px 0;
}

.icon--infoCompany--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -238px -17px;
}

.icon--adddata {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -255px 0;
}

.icon--adddata--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -255px -17px;
}

.icon--hisdata {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -272px 0;
}

.icon--hisdata--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -272px -17px;
}

.icon--allCancel {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -289px 0;
}

.icon--allCancel--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -289px -17px;
}

.icon--small-up {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -306px 0;
}

.icon--small-up--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -306px -17px;
}

.icon--small-down {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -323px 0;
}

.icon--small-down--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -323px -17px;
}

.icon--yuan {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -340px 0;
}

.icon--yuan--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -340px -17px;
}

.icon--cut {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -357px 0;
}

.icon--cut--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -357px -17px;
}

.icon--pound {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -374px 0;
}

.icon--pound--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -374px -17px;
}

.icon--test {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -391px 0;
}

.icon--test--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -391px -17px;
}

.icon--computer {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -408px 0;
}

.icon--computer--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -408px -17px;
}

.icon--minus--xs {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -425px 0;
}

.icon--minus--xs--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -425px -17px;
}

.disabled .icon--modify {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: 0px -17px;
}
.disabled .icon--add {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -17px -17px;
}
.disabled .icon--remove {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -34px -17px;
}
.disabled .icon--refresh {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -51px -17px;
}
.disabled .icon--exit {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -68px -17px;
}
.disabled .icon--data {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -85px -17px;
}
.disabled .icon--right {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -102px -17px;
}
.disabled .icon--pre {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -119px -17px;
}
.disabled .icon--next {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -136px -17px;
}
.disabled .icon--recheck {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -153px -17px;
}
.disabled .icon--cashier {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -170px -17px;
}
.disabled .icon--reCheckList {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -187px -17px;
}
.disabled .icon--cancelCheckList {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -204px -17px;
}
.disabled .icon--light {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -221px -17px;
}
.disabled .icon--infoCompany {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -238px -17px;
}
.disabled .icon--adddata {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -255px -17px;
}
.disabled .icon--hisdata {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -272px -17px;
}
.disabled .icon--allCancel {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -289px -17px;
}
.disabled .icon--small-up {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -306px -17px;
}
.disabled .icon--small-down {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -323px -17px;
}
.disabled .icon--yuan {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -340px -17px;
}
.disabled .icon--cut {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -357px -17px;
}
.disabled .icon--pound {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -374px -17px;
}
.disabled .icon--test {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -391px -17px;
}
.disabled .icon--computer {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -408px -17px;
}
.disabled .icon--minus--xs {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -425px -17px;
}

.icon--modify, .icon--modify--dis, .icon--add, .icon--add--dis, .icon--remove, .icon--remove--dis, .icon--refresh, .icon--refresh--dis, .icon--exit, .icon--exit--dis, .icon--data, .icon--data--dis, .icon--right, .icon--right--dis, .icon--pre, .icon--pre--dis, .icon--next, .icon--next--dis, .icon--recheck, .icon--recheck--dis, .icon--cashier, .icon--cashier--dis, .icon--reCheckList, .icon--reCheckList--dis, .icon--cancelCheckList, .icon--cancelCheckList--dis, .icon--light, .icon--light--dis, .icon--infoCompany, .icon--infoCompany--dis, .icon--adddata, .icon--adddata--dis, .icon--hisdata, .icon--hisdata--dis, .icon--allCancel, .icon--allCancel--dis, .icon--small-up, .icon--small-up--dis, .icon--small-down, .icon--small-down--dis, .icon--yuan, .icon--yuan--dis, .icon--cut, .icon--cut--dis, .icon--pound, .icon--pound--dis, .icon--test, .icon--test--dis, .icon--computer, .icon--computer--dis, .icon--minus--xs, .icon--minus--xs--dis, .disabled .icon--modify, .disabled .icon--add, .disabled .icon--remove, .disabled .icon--refresh, .disabled .icon--exit, .disabled .icon--data, .disabled .icon--right, .disabled .icon--pre, .disabled .icon--next, .disabled .icon--recheck, .disabled .icon--cashier, .disabled .icon--reCheckList, .disabled .icon--cancelCheckList, .disabled .icon--light, .disabled .icon--infoCompany, .disabled .icon--adddata, .disabled .icon--hisdata, .disabled .icon--allCancel, .disabled .icon--small-up, .disabled .icon--small-down, .disabled .icon--yuan, .disabled .icon--cut, .disabled .icon--pound, .disabled .icon--test, .disabled .icon--computer, .disabled .icon--minus--xs, label, .acc-form-inline .submit-inline, .acc-form-inline .acc-form-group, .acc-btn--search--top i, .select-div, .select-div .selected-title .select-txt, .link-block, .rec-text--red {
  zoom: 1;
  display: inline-block;
  *display: inline;
}

.select-div .selected-title .select-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-line {
  display: block;
  height: 1px;
  font-size: 0px;
}

.acc-btn--search--top, .link-block {
  border: 1px solid transparent;
}
.acc-btn--search--top:hover, .link-block:hover {
  border: 1px solid #2d96ff;
  background: #e7f3ff;
}

.acc-btn--search--top i {
  background-image: url("/assets/common/img/form/form-sprite.png");
  background-repeat: no-repeat;
}

.acc-form-horizontal label, .acc-form-inline .acc-form-group label {
  float: left;
  padding: 5px 5px 0;
  text-align: right;
  width: 80px;
}
.acc-form-horizontal .msg-error, .acc-form-inline .acc-form-group .msg-error, .acc-form-horizontal .submit-horizontal, .acc-form-inline .acc-form-group .submit-horizontal {
  margin-left: 100px;
}

label {
  margin-bottom: 5px;
}

.acc-form-group {
  margin-bottom: 10px;
}

.acc-form-control {
  display: block;
  margin: 0;
  padding: 3px;
  border: 1px solid #D9D9D9;
}

/*******************水平排列的表单*******************/
/*******************内联的表单*******************/
.acc-form-inline label {
  *line-height: 1.2em;
}
.acc-form-inline .submit-inline {
  margin-left: 10px;
}
.acc-form-inline .acc-form-group {
  margin-bottom: 0;
  vertical-align: top;
}

/*******************xxxxxxxxxxxx*******************/
.acc-btn--search--top {
  height: 22px;
  background: none;
}
.acc-btn--search--top i {
  width: 17px;
  height: 17px;
  background-position: 0 3px;
}

/*自写义select*/
.select-div {
  position: relative;
  width: 138px;
}
.select-div .selected-title {
  position: relative;
  margin-top: 1px;
  padding: 0 3px;
  height: 20px;
  border: 1px solid #D9D9D9;
  background: #fff;
}
.select-div .selected-title .select-txt {
  margin-top: 0;
  width: 100%;
  border: none;
}
.select-div .selected-title .select-arrow {
  position: absolute;
  padding: 0 5px;
  margin: 1px;
  top: 0;
  right: 0;
  background: #f0f0f0;
  cursor: pointer;
}
.select-div .select-con {
  position: absolute;
  width: 100%;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  background: #fff;
  z-index: 1;
}
.select-div .select-con .select-li {
  padding: 3px 0;
}
.select-div .select-con .select-li li {
  height: 14px;
  line-height: 1em;
  padding-left: 10px;
  cursor: pointer;
}
.select-div .select-con .select-li li:hover {
  color: #fff;
  background: #3399ff;
}

.wrap-height {
  position: relative;
  z-index: 99;
  height: 500px;
}

.side-left {
  float: left;
  width: 160px;
}

.side-right {
  float: right;
  width: 160px;
  padding-bottom: 20px;
}

.mid-wrap {
  overflow: hidden;
  padding-bottom: 20px;
}

.v-line {
  height: 2px;
  background: url("/assets/common/img/menu/v-line-bg.jpg") repeat-x;
}

.footer-content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20px;
  line-height: 20px;
  border-top: 1px solid #ccc;
  background: #f2f2f2;
}
.footer-content span {
  float: left;
  height: 20px;
  padding: 0 10px;
  border-right: 1px solid #ccc;
}

.content-title--short {
  padding-left: 15px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  background: url("/assets/common/img/side-menu/content-title--short.jpg") no-repeat 0 bottom;
}

.content-title--long {
  padding-left: 15px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: bold;
  background: url("/assets/common/img/side-menu/content-title--long.jpg") no-repeat 0 bottom;
}

.link-block {
  margin: 10px 0;
  padding: 5px 15px;
  text-align: center;
  font-size: 14px;
  border: 1px solid transparent;
}
.link-block i {
  display: block;
  margin: 0 auto 10px;
}

.dashed {
  border: 1px dashed #0066bb;
}

.rec-text--red {
  border: 1px solid #f00;
  color: #f00;
}

.list-wrap {
  overflow: auto;
  border: 1px solid #a0a0a0;
  background: #fff;
}
