@charset "UTF-8";
@import "assets/common/sass/base/globalfun";

%aDefault{
  text-decoration: none;
  outline:none;
  -moz-outline:none;
}

body{
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
}
/*默认链接*/
a{
  @extend %aDefault;
  color:#000;
  star:expression(this.onFocus=this.blur()); /* for Ie*/
  &:hover,&:active,&:focus{
    @extend %aDefault;
  }
  img{
    border: 0;
  }
}
button{ cursor: pointer;}
.text-left{ text-align: left;}
.text-center{ text-align: center;}
.text-right{ text-align: right;}

.fl{ display: inline; float: left;}
.fr{ display: inline; float: right;}