@charset "UTF-8";
.icon--modify, .icon--modify--dis, .icon--add, .icon--add--dis, .icon--remove, .icon--remove--dis, .icon--refresh, .icon--refresh--dis, .icon--exit, .icon--exit--dis, .icon--data, .icon--data--dis, .icon--right, .icon--right--dis, .icon--pre, .icon--pre--dis, .icon--next, .icon--next--dis, .icon--recheck, .icon--recheck--dis, .icon--cashier, .icon--cashier--dis, .icon--reCheckList, .icon--reCheckList--dis, .icon--cancelCheckList, .icon--cancelCheckList--dis, .icon--light, .icon--light--dis, .icon--infoCompany, .icon--infoCompany--dis, .icon--adddata, .icon--adddata--dis, .icon--hisdata, .icon--hisdata--dis, .icon--allCancel, .icon--allCancel--dis, .icon--small-up, .icon--small-up--dis, .icon--small-down, .icon--small-down--dis, .icon--yuan, .icon--yuan--dis, .icon--cut, .icon--cut--dis, .icon--pound, .icon--pound--dis, .icon--test, .icon--test--dis, .icon--computer, .icon--computer--dis, .icon--minus--xs, .icon--minus--xs--dis, .disabled .icon--modify, .disabled .icon--add, .disabled .icon--remove, .disabled .icon--refresh, .disabled .icon--exit, .disabled .icon--data, .disabled .icon--right, .disabled .icon--pre, .disabled .icon--next, .disabled .icon--recheck, .disabled .icon--cashier, .disabled .icon--reCheckList, .disabled .icon--cancelCheckList, .disabled .icon--light, .disabled .icon--infoCompany, .disabled .icon--adddata, .disabled .icon--hisdata, .disabled .icon--allCancel, .disabled .icon--small-up, .disabled .icon--small-down, .disabled .icon--yuan, .disabled .icon--cut, .disabled .icon--pound, .disabled .icon--test, .disabled .icon--computer, .disabled .icon--minus--xs {
  zoom: 1;
  display: inline-block;
  *display: inline;
}

/*icon 尺寸
每个"icon-xs" icon尺寸为17x17，间隙为10px
*/
.icon-xs {
  overflow: hidden;
  width: 17px;
  height: 17px;
}

/*结束 icon 尺寸*/
/*icon-xxs 图标*/
/*icon-xs 图标*/
/**/
.icon--modify {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: 0px 0;
}

.icon--modify--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: 0px -17px;
}

.icon--add {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -17px 0;
}

.icon--add--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -17px -17px;
}

.icon--remove {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -34px 0;
}

.icon--remove--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -34px -17px;
}

.icon--refresh {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -51px 0;
}

.icon--refresh--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -51px -17px;
}

.icon--exit {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -68px 0;
}

.icon--exit--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -68px -17px;
}

.icon--data {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -85px 0;
}

.icon--data--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -85px -17px;
}

.icon--right {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -102px 0;
}

.icon--right--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -102px -17px;
}

.icon--pre {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -119px 0;
}

.icon--pre--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -119px -17px;
}

.icon--next {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -136px 0;
}

.icon--next--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -136px -17px;
}

.icon--recheck {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -153px 0;
}

.icon--recheck--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -153px -17px;
}

.icon--cashier {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -170px 0;
}

.icon--cashier--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -170px -17px;
}

.icon--reCheckList {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -187px 0;
}

.icon--reCheckList--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -187px -17px;
}

.icon--cancelCheckList {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -204px 0;
}

.icon--cancelCheckList--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -204px -17px;
}

.icon--light {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -221px 0;
}

.icon--light--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -221px -17px;
}

.icon--infoCompany {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -238px 0;
}

.icon--infoCompany--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -238px -17px;
}

.icon--adddata {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -255px 0;
}

.icon--adddata--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -255px -17px;
}

.icon--hisdata {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -272px 0;
}

.icon--hisdata--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -272px -17px;
}

.icon--allCancel {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -289px 0;
}

.icon--allCancel--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -289px -17px;
}

.icon--small-up {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -306px 0;
}

.icon--small-up--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -306px -17px;
}

.icon--small-down {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -323px 0;
}

.icon--small-down--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -323px -17px;
}

.icon--yuan {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -340px 0;
}

.icon--yuan--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -340px -17px;
}

.icon--cut {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -357px 0;
}

.icon--cut--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -357px -17px;
}

.icon--pound {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -374px 0;
}

.icon--pound--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -374px -17px;
}

.icon--test {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -391px 0;
}

.icon--test--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -391px -17px;
}

.icon--computer {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -408px 0;
}

.icon--computer--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -408px -17px;
}

.icon--minus--xs {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -425px 0;
}

.icon--minus--xs--dis {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -425px -17px;
}

.disabled .icon--modify {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: 0px -17px;
}
.disabled .icon--add {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -17px -17px;
}
.disabled .icon--remove {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -34px -17px;
}
.disabled .icon--refresh {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -51px -17px;
}
.disabled .icon--exit {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -68px -17px;
}
.disabled .icon--data {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -85px -17px;
}
.disabled .icon--right {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -102px -17px;
}
.disabled .icon--pre {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -119px -17px;
}
.disabled .icon--next {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -136px -17px;
}
.disabled .icon--recheck {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -153px -17px;
}
.disabled .icon--cashier {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -170px -17px;
}
.disabled .icon--reCheckList {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -187px -17px;
}
.disabled .icon--cancelCheckList {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -204px -17px;
}
.disabled .icon--light {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -221px -17px;
}
.disabled .icon--infoCompany {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -238px -17px;
}
.disabled .icon--adddata {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -255px -17px;
}
.disabled .icon--hisdata {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -272px -17px;
}
.disabled .icon--allCancel {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -289px -17px;
}
.disabled .icon--small-up {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -306px -17px;
}
.disabled .icon--small-down {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -323px -17px;
}
.disabled .icon--yuan {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -340px -17px;
}
.disabled .icon--cut {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -357px -17px;
}
.disabled .icon--pound {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -374px -17px;
}
.disabled .icon--test {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -391px -17px;
}
.disabled .icon--computer {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -408px -17px;
}
.disabled .icon--minus--xs {
  background-image: url("/assets/common/img/icon/btn-icon-sprite.png") !important;
  background-repeat: no-repeat;
  background-position: -425px -17px;
}
