.wrap-border {
  border: 1px solid #1e1d18;
}

.acc-dialog {
  padding: 0 5px 5px;
  border: 1px solid #f6f6f6;
  background: #ddd6c4;
}

.acc-dialog__header {
  position: relative;
  height: 25px;
  line-height: 25px;
}
.acc-dialog__header .dialog-btn-close {
  position: absolute;
  top: 0;
  right: 0;
}

.acc-dialog__header__title {
  font-size: 12px;
}
.acc-dialog__header__title i {
  vertical-align: middle;
}

.acc-dialog__body {
  position: relative;
  border: 1px solid #5d594e;
  background: #fff;
}

.acc-dialog__footer {
  padding: 10px;
  background: #c0c0c0;
}
.acc-dialog__footer i {
  vertical-align: middle;
}

.side-menu {
  padding-left: 2px;
  padding-bottom: 50px;
}

.side-menu__list {
  padding-left: 20px;
}

.side-menu__list a {
  display: block;
  margin: 5px 0;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
}
.side-menu__list a i {
  vertical-align: middle;
}
.side-menu__list a:hover {
  color: #0066bb;
}
