.tab__pills li, .tab__pills li a, .tab__pills__title--l, .tab__pills__title--r {
  zoom: 1;
  display: inline-block;
  *display: inline;
}

.tab__pills__title--l, .tab__pills__title--r {
  background-image: url("/assets/common/img/tab/tab-sprite.png");
  background-repeat: no-repeat;
}

.tab {
  position: relative;
  margin-bottom: -1px;
}

.tab__pills {
  height: 17px;
  margin-left: 17px;
}
.tab__pills i {
  vertical-align: middle;
}
.tab__pills li {
  position: relative;
  margin-left: -17px;
}
.tab__pills li a {
  float: left;
  padding: 0 5px;
  height: 16px;
  line-height: 16px;
  border-top: 1px solid #a0a0a0;
  background: url("/assets/common/img/tab/tab-a-normal.jpg") repeat-x;
}
.tab__pills li.active {
  z-index: 100;
}
.tab__pills li.active a {
  background: #f1f1f1;
}
.tab__pills li.active .tab__pills__title--l {
  background-position: 0 0;
}
.tab__pills li.active .tab__pills__title--r {
  background-position: -5px 0;
}

.tab__pills__title--l, .tab__pills__title--r {
  float: left;
  height: 17px;
}

.tab__pills__title--l {
  width: 5px;
  background-position: -24px 0;
}

.tab__pills__title--r {
  width: 17px;
  background-position: -29px 0;
}

.wrap__container {
  position: relative;
  z-index: 99 -1;
  top: -1px;
  padding: 15px;
  border: 1px solid #a0a0a0;
}

.insert__body {
  overflow: auto;
  min-height: 370px;
  height: 370px;
  border: 1px solid #a0a0a0;
  background: #fff;
}
