@charset "UTF-8";
.tab__pills li, .tab__pills li a, .tab__pills__title--l, .tab__pills__title--r, .other-option__top .spec, .other-option__foot span, .action-group--top a {
  zoom: 1;
  display: inline-block;
  *display: inline;
}

.action-group--top a {
  border: 1px solid transparent;
}
.action-group--top a:hover {
  border: 1px solid #2d96ff;
  background: #e7f3ff;
}

.tab__pills li, .tab__pills li a, .tab__pills__title--l, .tab__pills__title--r, .other-option__top .spec, .other-option__foot span, .action-group--top a {
  zoom: 1;
  display: inline-block;
  *display: inline;
}

.action-group--top a {
  border: 1px solid transparent;
}
.action-group--top a:hover {
  border: 1px solid #2d96ff;
  background: #e7f3ff;
}

table {
  width: 100%;
}
table th, table td, table caption {
  padding: 8px;
  vertical-align: top;
}

.table--border th, .table--accounting th, .table--border td, .table--accounting td, .table--border caption, .table--accounting caption {
  border: 1px solid #ddd;
}
.table--border caption, .table--accounting caption {
  border-bottom: none;
}

.table--border tbody tr:hover td, .table--border tfoot tr:hover td {
  background: #eee;
}

.td-condensed {
  padding: 0 !important;
}

.td-border-none {
  border: none !important;
}

/****设计具体的表格****/
.table--border td, .table--border th {
  padding: 2px;
}
.table--border th {
  font-weight: normal;
  background: #efefef;
  border-color: #000;
}
.table--border tbody tr:hover td, .table--border tfoot tr:hover td {
  color: #fff;
  background: #3399ff;
}

.table--accounting th {
  text-align: center;
  font-weight: normal;
}
.table--accounting tbody {
  background: #fff;
}
.table--accounting tbody .td-condensed:hover {
  background: #3399ff;
}
.table--accounting tbody .td-condensed table {
  float: right;
  width: auto;
  border: 0 !important;
}
.table--accounting tbody .td-condensed table tbody {
  background: none;
}
.table--accounting tbody .td-condensed table td {
  text-align: center;
  padding: 0 !important;
  height: 25px;
  vertical-align: middle;
  border: none !important;
  border-left: 1px solid #ddd !important;
}
.table--accounting tbody .td-condensed table .green-h {
  border-left: 1px solid #008040 !important;
}
.table--accounting tbody .td-condensed table .red-h {
  border-left: 1px solid #f00 !important;
}
.table--accounting tfoot .td-condensed .footer-des {
  float: none;
}
.table--accounting tfoot .td-condensed .footer-des td {
  padding: 8px !important;
  border: none !important;
  border-left: 1px solid #ddd !important;
}
.table--accounting tfoot .td-condensed tbody {
  background: none;
}
.table--accounting tfoot .td-condensed:hover {
  background: none;
}

.tab__pills li, .tab__pills li a, .tab__pills__title--l, .tab__pills__title--r, .other-option__top .spec, .other-option__foot span, .action-group--top a {
  zoom: 1;
  display: inline-block;
  *display: inline;
}

.action-group--top a {
  border: 1px solid transparent;
}
.action-group--top a:hover {
  border: 1px solid #2d96ff;
  background: #e7f3ff;
}

.tab__pills__title--l, .tab__pills__title--r {
  background-image: url("/assets/common/img/tab/tab-sprite.png");
  background-repeat: no-repeat;
}

.tab {
  position: relative;
  margin-bottom: -1px;
}

.tab__pills {
  height: 17px;
  margin-left: 17px;
}
.tab__pills i {
  vertical-align: middle;
}
.tab__pills li {
  position: relative;
  margin-left: -17px;
}
.tab__pills li a {
  float: left;
  padding: 0 5px;
  height: 16px;
  line-height: 16px;
  border-top: 1px solid #a0a0a0;
  background: url("/assets/common/img/tab/tab-a-normal.jpg") repeat-x;
}
.tab__pills li.active {
  z-index: 100;
}
.tab__pills li.active a {
  background: #f1f1f1;
}
.tab__pills li.active .tab__pills__title--l {
  background-position: 0 0;
}
.tab__pills li.active .tab__pills__title--r {
  background-position: -5px 0;
}

.tab__pills__title--l, .tab__pills__title--r {
  float: left;
  height: 17px;
}

.tab__pills__title--l {
  width: 5px;
  background-position: -24px 0;
}

.tab__pills__title--r {
  width: 17px;
  background-position: -29px 0;
}

.wrap__container {
  position: relative;
  z-index: 99 -1;
  top: -1px;
  padding: 15px;
  border: 1px solid #a0a0a0;
}

.insert__body {
  overflow: auto;
  min-height: 370px;
  height: 370px;
  border: 1px solid #a0a0a0;
  background: #fff;
}

/********记帐凭证**********/
.info-from--top {
  padding: 10px;
}

.acc-dialog__body--gray {
  padding-bottom: 10px;
  background: #f2f2f2;
}

.table-bg-yellow {
  background: #ffffd7;
}

.info-wrap--body__left {
  margin: 0 10px 0;
  padding: 10px;
  width: 695px;
  border: 1px solid #ddd;
}
.info-wrap--body__left h1 {
  font-size: 24px;
  font-family: "Microsoft Yahei", 宋体, arial, sans-serif;
  font-weight: normal;
}

.info-wrap--body__right {
  padding: 10px;
}
.info-wrap--body__right button {
  display: block;
  width: 85px;
  margin-top: 10px;
}
.info-wrap--body__right button i {
  vertical-align: middle;
}

.other-option__top {
  padding: 10px;
}
.other-option__top .acc-form-control {
  width: 120px;
}
.other-option__top .pz-number {
  width: 80px;
}
.other-option__top .spec {
  width: 50px;
}

.other-option__foot {
  padding: 20px 10px 0;
}
.other-option__foot span {
  width: 130px;
}

/****凭证列表****/
.list-wrap-pingzhen {
  margin: 10px;
  height: 430px;
}

.action-group--top {
  padding: 5px;
  background: #e4e4e4 url("/assets/softPages/img/action-top-bg.jpg") repeat-x;
}
.action-group--top a {
  margin-right: 10px;
  padding: 2px 5px;
}
.action-group--top i {
  vertical-align: middle;
}

.search-row {
  width: 820px;
}

.header-qmjz .icon--excelToLi {
  margin: 20px 20px 0 20px;
}

.header-qmjz--des {
  padding: 15px 0;
  line-height: 18px;
}

.w316 {
  margin: 10px;
  width: 315px;
}

.body-qmjz--body__list {
  overflow: auto;
  height: 230px;
  border: 1px solid #a0a0a0;
  background: #fff;
}

.body-qmjz--body__notice {
  margin: 10px;
  width: 205px;
  border: 1px solid #c0c0c0;
}

.qmjz__notice--title {
  float: left;
  margin-top: -10px;
  margin-left: 5px;
  line-height: 18px;
  background: #f2f2f2;
}
.qmjz__notice--title i {
  vertical-align: top;
}

.qmjz__notice--con {
  padding: 10px;
  line-height: 18px;
}
.qmjz__notice--con p {
  padding-top: 15px;
  color: #acacac;
}
.qmjz__notice--con span {
  margin-top: 20px;
  display: block;
}

.list-wrap-padding {
  padding: 10px;
}

.info-wrap--body__left--noPadding {
  margin-right: 10px;
  padding: 0;
  width: 510px;
}
.info-wrap--body__left--noPadding .row-long {
  width: 385px;
}
.info-wrap--body__left--noPadding select {
  width: 150px;
}

.table-form-no-padding td {
  padding: 3px 0;
}

.login-form .acc-form-inline label {
  width: 60px;
}
.login-form .acc-form-inline input {
  width: 130px;
}
